@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  height: 100dvh;
  overflow: hidden;
  background-color: hsl(var(--background));
}

a {
  font-weight: 500;
  color: #6366F1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}